.video{
    display: flex;
    position: relative;
    margin-left: 10rem;
    flex-grow: 2;
    flex-shrink: 2;
   
}
.fondo{
    background-image: url(../img/Rectangle\ 23.png);
    width: 100%;
    height: 1000px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    
}
